# Operating system files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.iml

# Dart / Flutter
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Logs / misc
*.log
*.pyc
*.swp
.history
coverage/

# Android
.gradle/
android/local.properties
android/key.properties
*.jks

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

macos/Pods/
macos/Flutter/ephemeral/
macos/Runner.xcworkspace/xcuserdata/
macos/Runner.xcodeproj/xcuserdata/

# Firebase config
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
lib/firebase_options.dart